# Git
.git/
.github/

# Dependencies
node_modules/

# Build outputs (CRITICAL 🔥)
dist/
.next/
apps/**/.next/

# Nx cache
.nx/

# Env files
.env*
.env.*
!.env

# Logs
*.log

# Docker
Dockerfile*
.dockerignore
docker-compose*

# Misc
coverage/
tmp/
.cache/
