strict-peer-dependencies=false
auto-install-peers=true

@rumsan:registry=https://npm.pkg.github.com
@rahataid:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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